.landing {
  overflow-x: hidden;

  /* /////////////// */
  /* Force Dark Mode */
  /* /////////////// */

  .VPNavBarAppearance {
    display: none;
  }

  .VPNavScreenAppearance {
    visibility: hidden;
  }

  .social-links::before {
    margin-left: 0 !important;
  }

  /* ////////// */
  /* Typography */
  /* ////////// */

  h1 {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(
      180deg,
      #fff 0%,
      rgba(255, 255, 255, 0.31) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: balance;
    cursor: default;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.88px;
    padding: 0 16px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      font-size: 64px;
      line-height: 81px;
      letter-spacing: -1.28px;
    }

    @media (min-width: 1025px) {
      font-size: 72px;
      letter-spacing: -1.44px;
      padding-bottom: 8px; /* Fix for hanging descender on "g" in "tooling" */
    }
  }

  h2 {
    display: block;
    width: fit-content;
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
    cursor: default;
    text-wrap: balance;

    @media (min-width: 768px) {
      font-size: 44px;
      letter-spacing: -0.88px;
    }
  }

  h3 {
    color: #a3a3a3;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.4px;
    max-width: 500px;
    text-wrap: balance;
    cursor: default;
    margin-bottom: 25px;
  }

  .btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translate3d(0, -2px, 0);
    }

    &.btn--primary {
      position: relative;
      background: radial-gradient(
          141.42% 141.42% at 100% 0%,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
          140.35% 140.35% at 100% 94.74%,
          #bd34fe 0%,
          rgba(189, 52, 254, 0) 100%
        ),
        radial-gradient(
          89.94% 89.94% at 18.42% 15.79%,
          #41d1ff 0%,
          rgba(65, 209, 255, 0) 100%
        ),
        linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
        rgba(255, 255, 255, 0.2);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset;

      &:hover {
        background: radial-gradient(
            141.42% 141.42% at 100% 0%,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          radial-gradient(
            140.35% 140.35% at 100% 94.74%,
            #bd34fe 0%,
            rgba(189, 52, 254, 0) 100%
          ),
          radial-gradient(
            89.94% 89.94% at 18.42% 15.79%,
            #41d1ff 0%,
            rgba(65, 209, 255, 0) 100%
          ),
          linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
          rgba(255, 255, 255, 0.5);
        box-shadow: 0 1.5px 0 0 rgba(255, 255, 255, 0.8) inset;
      }
    }

    &.btn--outline {
      border: 1px solid rgba(255, 255, 255, 0.2);

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.4);
      }
    }
  }
}
