@media (min-width: 640px) {
  .VPHero .text {
    max-width: 592px;
  }

  .VPHero .tagline {
    max-width: 440px;
  }
}

@media (min-width: 960px) {
  .VPHero .tagline {
    max-width: 480px;
  }
}
