.background-asset {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.outside-root--aliased {
  background-image: url('~/images/logo.png');
}

.outside-root--relative {
  background-image: url('../images/logo.png');
}
