@font-face {
  font-family: 'Zalando Sans';
  font-weight: 500;
  src: url('assets/fonts/Zalando-Sans-VariableFont.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('assets/fonts/Inter-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('assets/fonts/Inter-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Azeret Mono';
  font-weight: 400;
  src: url('assets/fonts/AzeretMono-VariableFont.woff2') format('woff2');
}

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.18px;
  color-scheme: light;
  color: #827a89;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-family: 'Zalando Sans', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.68px;
  color: #08060d;
  margin: 32px 0;
}

h2 {
  font-family: 'Zalando Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 118%;
  letter-spacing: -0.24px;
  color: #08060d;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

code {
  font-family: 'Azeret Mono', monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: #08060d;
  background: #f4f3ec;
}

.counter {
  color: #aa3bff;
  font-family: 'Azeret Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(170, 59, 255, 0.1);
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  margin-bottom: 24px;

  &:hover {
    border-color: rgba(170, 59, 255, 0.5);
  }

  &:focus,
  &:focus-visible {
    outline: 2px auto #aa3bff;
  }
}

.hero-image {
  position: relative;
  margin-top: 40px;

  .hero-image__base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .hero-image__framework {
    position: absolute;
    z-index: 1;
    top: 34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }
}

#app {
  width: 1126px;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid #e5e4e7;
  border-right: 1px solid #e5e4e7;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

section#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

section#framework-logos {
  color: #827a89;
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #e5e4e7;

  a {
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 10px;
    transition: transform 200ms ease;
  }

  .logo {
    height: 16px;
  }

  .logo.typescript {
    height: 24px;
  }

  a:hover {
    transform: translateY(-2px) scale(1.06);
  }
}

section#next-steps {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e5e4e7;
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;

    .icon {
      margin-bottom: 16px;
      width: 22px;
    }

    &#documentation {
      border-right: 1px solid #e5e4e7;

      .button {
        margin-top: 32px;
      }
    }

    &#social {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 8px;
        margin: 32px 0 0;

        li > a {
          color: #08060d;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%;
          border-radius: 6px;
          background: rgba(244, 243, 236, 0.5);
          display: flex;
          padding: 6px 12px;
          align-items: center;
          gap: 8px;
          text-decoration: none;
          transition: box-shadow 0.3s ease;

          &:hover {
            box-shadow:
              rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
              rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
          }

          img {
            height: 18px;
          }
        }
      }
    }
  }
}

section#spacer {
  height: 88px;
  border-top: 1px solid #e5e4e7;
}

.button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #e5e4e7;
  color: #08060d;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  width: fit-content;
  letter-spacing: 0.3px;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  }
}

div.ticks {
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #e5e4e7;
  }

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #e5e4e7;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  body {
    align-items: stretch;
    padding: 0 16px;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0;
  }

  h2 {
    font-size: 20px;
  }

  #app {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  section#framework-logos {
    height: 64px;
    gap: 10px;
  }

  section#center {
    padding: 32px 20px 24px;
    gap: 18px;
  }

  .hero-image {
    margin-top: 12px;

    .hero-image__base {
      width: 140px;
    }

    .hero-image__framework {
      top: 28px;
      height: 24px;
    }
  }

  section#next-steps {
    flex-direction: column;
    text-align: center;

    & > div {
      padding: 24px 20px;
    }

    & > div#documentation {
      border-right: none;
      border-bottom: 1px solid #e5e4e7;
    }
  }

  section#next-steps #social ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  section#next-steps #social ul li {
    flex: 1 1 calc(50% - 8px);
  }

  section#next-steps #social ul li > a {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }

  section#next-steps .icon {
    margin-left: auto;
    margin-right: auto;
  }

  section#next-steps .button {
    margin-left: auto;
    margin-right: auto;
  }

  section#spacer {
    height: 48px;
  }
}
