@use 'sass:string';
@use '/nested/root-relative'; // root relative path
@use '../weapp.wxss'; // test user's custom importer in a file loaded by vite's custom importer

@import './css-in-scss.css';

.sass-at-import {
  color: olive;
  background: url(./icon.png) 10px no-repeat;
}

.sass-at-import-alias {
  color: olive;
  background: url(=/nested/icon.png) 10px no-repeat;
}

$var: '/ok.png';
.sass-url-starts-with-variable {
  background: url($var);
  background-position: center;
}

$var2: '/OK.PNG';
.sass-url-starts-with-function-call {
  background: url(string.to-lower-case($var2));
  background-position: center;
}
