hoist-pattern[]=postcss # package/vite
hoist-pattern[]=pug # playground/tailwind: @vue/compiler-sfc
hoist-pattern[]=eslint-import-resolver-* # eslint-plugin-import-x
shell-emulator=true
auto-install-peers=false
dedupe-injected-deps=false
