public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=@emotion/*
public-hoist-pattern[]=postcss
public-hoist-pattern[]=pug
public-hoist-pattern[]=source-map-support
public-hoist-pattern[]=*vue*
