packages/*/CHANGELOG.md
packages/vite/src/node/ssr/runtime/__tests__/fixtures
packages/vite/src/node/ssr/__tests__/fixtures/errors
playground-temp/
dist/
temp/
LICENSE.md
pnpm-lock.yaml
pnpm-workspace.yaml
playground/tsconfig-json-load-error/has-error/tsconfig.json
playground/html/invalid.html
playground/html/valid.html
playground/external/public/slash@3.0.0.js
playground/ssr-html/public/slash@3.0.0.js
playground/worker/classic-worker.js
