@import './imported-at-import.css';

.imported {
  color: green;
}

pre {
  background-color: #eee;
  width: 500px;
  padding: 1em 1.5em;
  border-radius: 10px;
}

/* test postcss nesting */
.postcss {
  .nesting {
    color: pink;
  }
}

/* test url comma separation */
.url-separated {
  /* prettier-ignore */
  background-image:url(images/cat.webp),url(images/dog.webp);
}
