@import './nested/nested'

$color ?= blue

.stylus
  color $color

.stylus-additional-data
  /* injected via vite.config.js */
  color $injectedColor

.stylus-options-define-var
  /* defined in vite.config.js */
  color $definedColor

.stylus-options-define-func
  /* defined in vite.config.js */
  color definedFunction()
