@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/Inter-Italic.woff2?#iefix') format('woff2'),
    url('/fonts/Inter-Italic.woff') format('woff');
}

body {
  font-family: 'Inter';
}
