.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

#play-vite-audio {
  padding: 0;
  margin-left: 5px;
  display: inline-flex;
}

#play-vite-audio img {
  opacity: 0.8;
}

/* old document warning */
:root {
  --vp-layout-top-height: 96px;
  @media (min-width: 455px) {
    --vp-layout-top-height: 64px;
  }
  @media (min-width: 960px) {
    --vp-layout-top-height: 32px;
  }

  --header-height: calc(3.6rem + var(--vp-layout-top-height));
}

.nav-bar {
  padding-top: var(--vp-layout-top-height);
}
.sidebar-button {
  top: calc(0.6rem + var(--vp-layout-top-height));
}
