.sponsors {
  padding: 0 1.5rem 2rem;
  font-size: 0.8rem;
}

.sponsors a {
  color: #999;
}

.sponsors img {
  max-width: 200px;
  height: 40px;
  display: block;
  margin: 1.25rem 0;
}

.sponsors.frontpage {
  text-align: center;
}

.sponsors.frontpage img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem 1.25rem 1rem;
}

.sponsors.frontpage h2 {
  color: #999;
  font-size: 1.2rem;
  border: none;
}

/* special cases */
#sponsor-mux {
  padding: 5px 0;
}
