@import '@voidzero-dev/vitepress-theme/src/styles/index.css';

@source "./**/*.vue";

/* Vite */
:root[data-variant='vite'] {
  --color-brand: #6b1eb9;
}

:root.dark:not([data-theme])[data-variant='vite'],
:root[data-theme='dark'][data-variant='vite'] {
  --color-brand: var(--color-vite);
}

/* Forced light mode brand for Vite */
:root[data-theme='light'][data-variant='vite'] {
  --color-brand: #6b1eb9;
}
