:root {
  --color-text: #6b6375;
  --color-text-heading: #08060d;
  --color-bg: #ffffff;
  --color-border: #e5e4e7;
  --color-code-bg: #f4f3ec;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-social-bg: rgba(244, 243, 236, 0.5);
  --shadow-hover:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-sans:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  --font-heading:
    'Zalando Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, sans-serif;
  --font-mono:
    'Azeret Mono', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    monospace;

  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.18px;

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-text-heading);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

code {
  font-family: var(--font-mono);
  font-size: 15px;
  line-height: 135%;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--color-text-heading);
  background: var(--color-code-bg);
}
